<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      crossorigin="anonymous"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      src="https://unpkg.com/htmx.org@2.0.2"
    ></script>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/cart.css" />
  </head>
  <body>
    {% include "_navbar.html" %}

    <table class="cart-table">
      <thead>
        <tr>
          <th class="table-header"><p>Product Name</p></th>
          <th class="table-header"><p>Quantity</p></th>
          <th class="table-header"><p>Price per Item</p></th>
          <th class="table-header"><p>Total Price per Item</p></th>
          <th class="table-header"><p>Actions</p></th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr class="table-row">
          <td>
            <a href="/product/{{ product.id }}">{{ product.name }}</a>
          </td>
          <td>
            <input
              hx-include="#quantity-{{ product.id }}"
              hx-post="/add_to_cart/{{  product.id }}"
              hx-swap="none"
              id="quantity-{{ product.id }}"
              max="100"
              min="1"
              name="quantity"
              type="number"
              value="{{product.quantity}}"
            />
          </td>
          <td>
            <p>${{ product.price }}</p>
          </td>
          <td>
            <p>${{ product.total_price_item }}</p>
          </td>
          <td>
            <button
              class="remove-button"
              hx-post="/remove_from_cart/{{ product.id }}"
              hx-swap="none"
            >
              Remove
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>
      <p class="total-price">TOTAL PRICE: ${{ total_price }}</p>
          <a href="/payment"><button class='buy-button'>Buy Now</button></a>
      </button>
    </div>
  </body>
</html>
