.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.product-card {
  height: 100%;
  padding: 15px;
  width: 300px;
}

.product-image {
  border-radius: 10px;
  height: 300px;
}

.product-price {
  color: var(--error-color);
  font-size: 1.3em;
}
