.page-title {
  color: var(--primary-text-color);
  text-align: center;
}

.cart-table {
  background-color: var(--card-background-color);
  border-collapse: collapse;
  color: var(--primary-text-color);
  text-align: left;
}

.table-header {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.table-cell {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.product-link {
  color: var(--link-color);
  cursor: pointer;
}

.product-link:hover {
  color: var(--link-hover-color);
}

.total-amount {
  text-align: center;
  color: var(--error-color);
}

.remove-button {
  background-color: var(--remove-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.remove-button:hover {
  background-color: var((--remove-button-hover-color));
}

.buy-button {
  background-color: var(--buy-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.buy-button:hover {
  background-color: var(--buy-button-hover-color);
}
