.cart-table {
  background-color: var(--primary-background-color);
  border-collapse: collapse;
  color: var(--primary-text-color);
  text-align: left;
  width: 100%;
}

.table-header {
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
}

td {
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
}

.remove-button {
  background-color: var(--remove-button-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.remove-button:hover {
  background-color: var((--remove-button-hover-color));
}

.total-amount {
  color: var(--error-color);
  text-align: center;
}

.buy-button {
  background-color: var(--buy-button-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.buy-button:hover {
  background-color: var(--buy-button-hover-color);
}
