* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  min-height: 100vh;
}
