.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.product-card {
  background: var(--card-background-color);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

.product-image {
  border-radius: 10px;
  max-width: 100%;
}

.product-name {
  color: var(--primary-text-color);
  font-size: 1.5em;
}

.product-description {
  color: var(--primary-text-color);
  font-size: 1em;
}

.product-price {
  color: var(--error-color);
  font-size: 1.2em;
}

.product-category,
.product-stock {
  color: var(--muted-text-color);
  font-size: 0.9em;
}

.add-button {
  background-color: var(--add-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.add-button:hover {
  background-color: var(--add-button-hover-color);
}

.remove-button {
  background-color: var(--remove-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.remove-button:hover {
  background-color: var((--remove-button-hover-color));
}

.buy-button {
  background-color: var(--buy-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.buy-button:hover {
  background-color: var(--buy-button-hover-color);
}
